.wrapmain {
    margin-left: 50px;
    margin-top: 30px;
}
.one {
    width: 100px;
    height: 40px;
    background-color: royalblue;
    border-radius: 20px;

}
.wrap {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;

}
.two1 {
    font-size: 35px;
}
.two2 {
    font-size: 35px;
}
.two {
    display: flex;
    column-gap: 10px;
}



.wrap2 {
    width: 90%;
    height: 350px;
    background-color: royalblue;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-top: 300px;
    position: absolute;

}
.four {
    background-color: darkslateblue;
    width: 150px;
    height: 150px;
    position: relative;
    bottom: -75px;
}
